
{% extends "base.html" %}
{% block content%}
	<form action={% url 'log_in' %} method="POST">
        <div >
            <h1>Login</h1>
            {% csrf_token %}
            {% for field in form %}
               <div class="aaa">
                {{field.label}}
                {{field}}
               </div>
            {% endfor%}
            <button class="btn btn-primary">Login</button>
            <hr size="2" noshade="noshade">
			<a class="btn btn-outline-dark " href={% url 'sign_up' %}>Have an account login</a>

        </div>
        </form>
{% endblock %}
